body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.promo {
  padding: 50px 0;
  background-color: lightsteelblue;
}
.promo__inner {
  margin: 0 auto;
}
.promo__ttl {
  font-size: 20px;
  font-weight: 400;
}
@media (min-width: 670px) {
  .promo__ttl {
    font-size: 32px;
  }
}
@media (min-width: 1280px) {
  .promo__inner {
    width: 1024px;
  }
  .promo__ttl {
    font-size: 48px;
  }
}

/*# sourceMappingURL=data:application/json;charset=utf8;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbImNvbW1vbi9fdHlwb2dyYXBoeS5sZXNzIiwic3R5bGUuY3NzIiwiYmxvY2tzL19wcm9tby5sZXNzIl0sIm5hbWVzIjpbXSwibWFwcGluZ3MiOiJBQUFBO0VBQ0UsNERBQUE7Q0NDRDtBQ0ZEO0VBQ0UsZ0JBQUE7RUFDQSxpQ0FBQTtDRElEO0FDRkM7RUFDRSxlQUFBO0NESUg7QUNHQztFQUNFLGdCQUFBO0VBQ0EsaUJBQUE7Q0RJSDtBQ0ZHO0VBUUg7SUFQSyxnQkFBQTtHREtIO0NBQ0Y7QUNoQkc7RUFpQkg7SUFoQkssY0FBQTtHREtIO0VDV0Y7SUFISyxnQkFBQTtHRE1IO0NBYkYiLCJmaWxlIjoic3R5bGUuY3NzIiwic291cmNlc0NvbnRlbnQiOlsiYm9keSB7XG4gIGZvbnQtZmFtaWx5OiBAZm9udDtcbn0iLCJib2R5IHtcbiAgZm9udC1mYW1pbHk6IEFyaWFsLCBcIkhlbHZldGljYSBOZXVlXCIsIEhlbHZldGljYSwgc2Fucy1zZXJpZjtcbn1cbi5wcm9tbyB7XG4gIHBhZGRpbmc6IDUwcHggMDtcbiAgYmFja2dyb3VuZC1jb2xvcjogbGlnaHRzdGVlbGJsdWU7XG59XG4ucHJvbW9fX2lubmVyIHtcbiAgbWFyZ2luOiAwIGF1dG87XG59XG5AbWVkaWEgKG1pbi13aWR0aDogMTI4MHB4KSB7XG4gIC5wcm9tb19faW5uZXIge1xuICAgIHdpZHRoOiAxMDI0cHg7XG4gIH1cbn1cbi5wcm9tb19fdHRsIHtcbiAgZm9udC1zaXplOiAyMHB4O1xuICBmb250LXdlaWdodDogNDAwO1xufVxuQG1lZGlhIChtaW4td2lkdGg6IDY3MHB4KSB7XG4gIC5wcm9tb19fdHRsIHtcbiAgICBmb250LXNpemU6IDMycHg7XG4gIH1cbn1cbkBtZWRpYSAobWluLXdpZHRoOiAxMjgwcHgpIHtcbiAgLnByb21vX190dGwge1xuICAgIGZvbnQtc2l6ZTogNDhweDtcbiAgfVxufVxuIiwiLnByb21vIHtcbiAgcGFkZGluZzogNTBweCAwO1xuICBiYWNrZ3JvdW5kLWNvbG9yOiBsaWdodHN0ZWVsYmx1ZTtcblxuICAmX19pbm5lciB7XG4gICAgbWFyZ2luOiAwIGF1dG87XG5cbiAgICBAbWVkaWEgKG1pbi13aWR0aDogMTI4MHB4KSB7XG4gICAgICB3aWR0aDogMTAyNHB4O1xuICAgIH1cbiAgfVxuXG4gICZfX3R0bCB7XG4gICAgZm9udC1zaXplOiBAaDEtZnotbW9iaWxlO1xuICAgIGZvbnQtd2VpZ2h0OiBAaDEtZnc7XG5cbiAgICBAbWVkaWEgKG1pbi13aWR0aDogNjcwcHgpIHtcbiAgICAgIGZvbnQtc2l6ZTogQGgxLWZ6LXRhYmxldDtcbiAgICB9XG5cbiAgICBAbWVkaWEgKG1pbi13aWR0aDogMTI4MHB4KSB7XG4gICAgICBmb250LXNpemU6IEBoMS1mei1kZXNrdG9wO1xuICAgIH1cbiAgfVxufSJdfQ== */
